#contact{
    display:block;
    background-color:#000;
    color:#fff;
}

#wrapperC{
    display:flex;
    flex-wrap:wrap;
    justify-content:left;
}

#contact a{
    color:#fff;
    text-decoration:none;
    font-weight:600;
}

#titleC{
    padding-top:2em;-webkit-text-decoration:underline orange;text-decoration:underline orange;
}

#addresses{
    margin:4em 4em 0;
    text-align:left;
}

#concl{
    width:300px;
}

#adrs2{
    margin-left:6em;
}
