#about{
    margin-top: 4em;
    display: block;
    background-color: rgb(255, 253, 253);
  }
  .content{
    display: flex;
    flex-flow: column;
    margin-bottom: 4em;
  }
  
  .text1{
      float: left;
      width: 30%;
      text-align: justify;
      text-justify: inter-word;
  }
  
  .text2{
      float: right;
      width: 30%;
      text-align: justify;
      text-justify: inter-word;
  }
  
  .title p {
    position: absolute;
    left: calc(50% - 75px);
    display: block;
    width: 150px;
    border-style: solid none none none;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, rgb(2, 0, 128), rgb(0, 204, 255));
  }
  
  .c1,
  .c2{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
  }
  
  
  .c1{
    margin-top: 4em;
  }
  
  .c2{
    margin-top:12em;
  }
  
  
  #osf,
  #pharma,
  .text1,
  .text2{
    width: 23em;
    height:15em;
    min-width: 18em;
  }